root = true

[*.{kt,kts}]

; Matches the Kotlin Style Guide (https://kotlinlang.org/docs/coding-conventions.html#formatting)
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

; Allow wildcard imports. They should just be used carefully.
ktlint_standard_no-wildcard-imports = disabled
